body {
  background-color: #DEFAEE;
  font-family: Courier;
  font-weight: bold;
}

textarea {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #555;
  color: black;
}

textarea:focus {
  color: black;
  background-color: #C4D0CB;
}

textarea::placeholder {
  color: black;
}

input {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #555;
  color: black;
}

input:focus {
  color: black;
  background-color: #C4D0CB;
}

input::placeholder {
  color: black;
}

button {
  background-color: #C8D3CE;
  border-radius: 4px;
  border: 1px solid black;
  font-family: Courier;
  font-weight: bold;
}

button:hover {
  background-color: #EEF0EF;
  cursor: pointer;
}

.top_desc_inputs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header h1 {
  font-family: Courier;
  font-weight: bold;
}

.header img {
  width: 80.475px;
  height: 80.475px;
}

.navbar {
  display: flex;
  flex-direction: row:column;
  justify-content: space-between;
}

#quest_tab {
  display: block;
}

#exam_tab {
  display: none;
  margin-top: 10px;
}

#exam_tab_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#exam_bank {
  padding: 5px;
  text-align: center;
  width: 50vh;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  border: 2px solid #555;
}

#exam_bank_table {
  margin-left: auto;
  margin-right: auto;
}

#exam_bank_table td {
  max-width: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#exam_bank_table tr {
  background-color:#FFFFFF;
}

#exam_bank_table th, td {
  padding: 10px;
}

#exam_bank_table td:hover {
  background-color: #f2f2f2;
}

#exam_bank_table tr:hover td {
  background-color: #f2f2f2;
}

#exam_bank_buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 10px;
}

#completed_exam_bank {
  padding: 5px;
  text-align: center;
  width: 50vh;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  border: 2px solid #555;
}

#completed_exam_bank_table {
  margin-left: auto;
  margin-right: auto;
}

#completed_exam_bank_table td {
  max-width: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#completed_exam_bank_table tr {
  background-color:#FFFFFF;
}

#completed_exam_bank_table th, td {
  padding: 10px;
}

#completed_exam_bank_table td:hover {
  background-color: #f2f2f2;
}

#completed_exam_bank_table tr:hover td {
  background-color: #f2f2f2;
}

#completed_exam_bank_buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 3px;
}

#exam_temp_buttons {
  display: flex;
  flex-direction: column;
}

#exam_publish_button {
  display: none;
}

#exam_delete_button {
  display: none;
}

#exam_edit_button {
  display: none;
}

#quest_bank {
  display: block;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  border: 2px solid #555;
}

.quest_tab_container {
  display: flex;
  flex-direction: row;
}

#quest_creator {
  display: none;
  text-align: center;
  max-width: 50vh;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  border: 2px solid #555;
}

.editButtons {
  max-width: 40vh;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

#create_question_button {
  display: block;
  max-width: 40vh;
  margin: 0 auto;
}

#quest_editor {
  display: none;
  text-align: center;
  max-width: 50vh;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 10px #888888;
  border-radius: 4px;
  border: 2px solid #555;
}

#quest_bank_table tr:hover td {
  background-color: #f2f2f2;
}

#quest_bank_buttons {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  justify-content: space-around;
}

#quest_bank_table td {
  max-width: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#quest_bank_table tr {
  background-color:#FFFFFF;
}

#quest_bank_table th, td {
  padding: 10px;
}

#quest_bank_table.question_content td:hover {
  background-color: #f2f2f2;
}

table {
  border-radius: 4px;
  border: 2px solid #555;
  border-spacing: 0px;
}

th {
  background-color: #C8D3CE;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.test_cases input {
  max-width: 40vh;
}

#test_cases {
  text-align: right;
}

.deleteTestCaseButtons {
  max-width: 25px;
  max-height: 25px;
  float: left;
}

#remove_test_case_button {
  display: none;
  max-width: 40vh;
  margin: 0 auto;
}

#create_quest_and_test_button {
  display: none;
  max-width: 40vh;
  margin: 0 auto;
  margin-top: 5px;
}

#testCasesReplace {
  text-align: right;
}

#quest_bank_header {
  text-align: center;
}

#grade_button {
  display: none;
}

#preview_grade_button_container {
  display: none;
}

.modal {
    display: none; /* Hidden by default */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%;
    text-align: center;
    box-shadow: 5px 10px #888888;
    border-radius: 4px;
    border: 2px solid #555;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#exam_creator_question_table {
  margin-left: auto;
  margin-right: auto;
}

#exam_creator_question_table td {
  max-width: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#exam_creator_question_table tr {
  background-color:#FFFFFF;
}

#exam_creator_question_table th, td {
  padding: 10px;
}

#exam_creator_question_table td:hover {
  background-color: #f2f2f2;
}

#exam_creator_question_table tr:hover td {
  background-color: #f2f2f2;
}

#add_question_button {
  display: none;
}

#current_exam_questions_table {
  margin-left: auto;
  margin-right: auto;
}

#current_exam_questions_table td {
  max-width: 40vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

#current_exam_questions_table tr {
  background-color:#FFFFFF;
}

#current_exam_questions_table th, td {
  padding: 10px;
}

#current_exam_questions_table td:hover {
  background-color: #f2f2f2;
}

#current_exam_questions_table tr:hover td {
  background-color: #f2f2f2;
}

#current_exam_questions_creator {
  padding-bottom: 10px;
  padding-top: 10px;
}

.modal-content button {
  margin-top: 4px;
  margin-bottom: 4px;
}

.modal-content input {
  margin-bottom: 5px;
}

.answers {
  text-align: left;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #555;
  font-family: Consolas;
  font-weight: normal;
  margin-bottom: 20px;
}

.answers:nth-child(odd) {
    border: 2px solid #333;
}

#results_container {
  padding-top: 40px;
  white-space: pre;
}

.notes {
  border-top: 1px;
  border-style: solid;
  border-bottom: 1px;
  font-family: Consolas;
  font-weight: normal;
}
