body {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

#new_test_case_container textarea {
  width: 130px;
  height: 50px;
}

#edit_test_case_container textarea {
  width: 130px;
  height: 50px;
}

#edit_new_test_case_container textarea {
  width: 130px;
  height: 50px;
}

.buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-column-gap: 5px;
  margin: 5px 5px 5px;
  justify-content: space-evenly;
}

.buttons2 {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 100px 150px 100px;
  grid-column-gap: 5px;
  margin: 5px 5px 5px;
}

.question_input textarea {
  width: 300px;
  height: 100px;
}

h3 {
  display: inline-block;
}

table {
  border: 2px solid #555;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #C8D3CE;
  padding: 2px 2px 2px;
}

td {
  cursor: pointer;
  padding: 2px 2px 2px;
}

tr {
  background-color:#FFFFFF;
}

td:hover {
  background-color: #f2f2f2;
}

tr:hover td {
  background-color: #f2f2f2;
}

#header {
  text-align: center;
}

#header h1 {
  margin: 0 0 0;
}

#nav_bar_container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 5px;
}

#question_tab h2 {
  margin: 0 0 0;
}

#question_bank_container {
  border: 2px solid #555;
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
}

#question_bank_table_container {
  margin: 5px 5px 5px;
}

#question_cre_edi_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: flex-start;
}

#question_creator_container {
  display: none;
  border: 2px solid #555;
  padding: 5px 5px 5px;
  text-align: center;
}

#question_editor_container {
  display: none;
  border: 2px solid #555;
  padding: 5px 5px 5px;
  text-align: center;
}

.creator_editor_header_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

#exam_tab {
  display: none;
}

#exam_tab h2 {
  margin: 0 0 0;
}

#exam_tab_container {
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-start;
  grid-column-gap: 5px;
}

#exam_bank {
  border: 2px solid #555;
  padding: 5px 5px 5px;
  text-align: center;
}

#exam_grader {
  border: 2px solid #555;
  padding: 5px 5px 5px;
  text-align: center;
}

#exam_creator {
  display: none;
}

#exam_editor {
  display: none;
}
